[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = git@github.com:lebek/protobuf.git
[submodule "thirdparty/OpenVR-InputEmulator"]
	path = thirdparty/OpenVR-InputEmulator
	url = git@github.com:matzman666/OpenVR-InputEmulator.git
